.form
  position: relative

  &__action
    position: absolute
    top: 0
    right: 0
    cursor: pointer

  &.is-search
    width: 0
    position: absolute
    top: 55px
    left: 30px
    transition: all .3s ease
    +r(768)
      display: none

    &.is-open
      width: 300px

      .btn
        right: 0




