.container
  width: 1070px
  margin: 0 auto
  +clr

.l-col-25
  width: 25%

.l-col-20
  width: 20%

.l-col-60
  width: 60%

.header
  width: 100%
  text-align: center
  +clr

  &__top
    padding: 10px 0
    +clr

  &__left
    float: left
    position: relative
    top: 55px

  &__center
    float: left

  &__right
    float: left
    position: relative
    top: 55px

.footer
  +clr

  &__top
    padding: 35px 0

  &__col
    float: left
