.popup
  background-color: $bgGrey
  max-width: 640px
  border: 1px solid #000
  //height: 100%
  //position: absolute

  &__top
    padding: 20px
    border-bottom: 2px solid #fff
    +clr

  &__left
    float: left

  &__right
    float: right

    .btn
      height: 0
      line-height: 0
      padding: 0

  &__bottom
    padding: 100px 0

  &__text
    font-size: 14px

  h5
    //padding-bottom: 20px
    display: inline-block