.season-item
  position: relative
  text-align: center
  width: 100%
  min-height: 555px

  &__descr
    font-size: 26px

  &__info
    position: absolute
    top: 150px

    &.is-left
      left: 40%

    &.is-right
      right: 40%

  &.bg-tomato, &.bg-apple, &.bg-pepper
    background-size: cover
    background-repeat: no-repeat

  &.bg-tomato
    background-image: url("../img/slide_1.jpg")
    background-position: 50% 80%

  &.bg-pepper
    background-image: url("../img/slide_2.jpg")
    background-position: 50% 80%

  &.bg-apple
    background-image: url("../img/slide_3.jpg")
    background-position: 50% 70%


  .badge
    position: absolute
    top: 26%
    left: 33%

    &.is-center
      top: 33%
      left: 45%