.swiper-container
  max-width: 640px
  min-height: 310px

  &.is-product
    max-width: none

  &.is-general
    max-width: none

.swiper-button-next,
.swiper-button-prev
  background-image: none
  position: absolute
  top: 275px

.swiper-container-horizontal > .swiper-pagination
  top: 50%
  transform: rotate(90deg) translateY(-200%) translateX(-6%) !important


.swiper-pagination-bullet
  width: 70px
  height: 70px
  border: 4px solid #fff
  border-radius: 50px
  background-color: transparent

  &:first-child
    background-image: url(https://cdn.shopify.com/s/files/1/1148/3974/t/7/assets/img_thumb_homepage_slide_1.jpg?2525999231350056249)

  &:nth-child(2)
    background-image: url(https://cdn.shopify.com/s/files/1/1148/3974/t/7/assets/img_thumb_homepage_slide_2.jpg?2525999231350056249)

  &:last-child
    background-image: url(https://cdn.shopify.com/s/files/1/1148/3974/t/7/assets/img_thumb_homepage_slide_3.jpg?2525999231350056249)
  &:hover
    transform: scale(1.34)

//.swiper-pagination-bullet-active
//  border-color: transparent
//  opacity: .3

.arrow-button-next,
.arrow-button-prev
  position: absolute
  width: 60px
  height: 40px
  cursor: pointer
  z-index: 100

  .line
    position: absolute
    top: 18px
    right: 0
    display: block
    width: 40px
    height: 2px
    background-color: $brown

    &.is-right-18
      right: 18px

  .triangle
    position: absolute
    top: 12px
    left: 3px
    border-width: 0 8px 12px 8px
    border-style: solid
    border-color: transparent transparent #5c4b51 transparent
    transform: rotate(-90deg)

    &.is-left-44
      left: 44px
      transform: rotate(90deg)

.arrow-button-prev
  left: 40%
  bottom: 0

.arrow-button-next
  right: 50%
  bottom: 0
