@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * {
    -webkit-text-size-adjust: none; } }
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: raleway, sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #5c4b51;
  background-color: #f5f4f4;
  line-height: 1.6; }

@font-face {
  font-family: "bitter400";
  src: url("fonts/bitter-regular.eot");
  src: url("fonts/bitter-regular.eot?#iefix") format("embedded-opentype"), url("fonts/bitter-regular.woff2") format("woff2"), url("fonts/bitter-regular.woff") format("woff"), url("fonts/bitter-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "bitter400ital";
  src: url("fonts/bitter-italic.eot");
  src: url("fonts/bitter-italic.eot?#iefix") format("embedded-opentype"), url("fonts/bitter-italic.woff2") format("woff2"), url("fonts/bitter-italic.woff") format("woff"), url("fonts/bitter-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "bitter600";
  src: url("fonts/bitter-bold.eot");
  src: url("fonts/bitter-bold.eot?#iefix") format("embedded-opentype"), url("fonts/bitter-bold.woff2") format("woff2"), url("fonts/bitter-bold.woff") format("woff"), url("fonts/bitter-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 13px; }

a {
  display: block;
  color: #5c4b51;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

p {
  line-height: 1.6; }

img {
  display: block; }

.i-weight-100 {
  font-weight: 100; }

.i-weight-200 {
  font-weight: 200; }

.i-weight-300 {
  font-weight: 300; }

.i-weight-400 {
  font-weight: 400; }

.i-weight-500 {
  font-weight: 500; }

.i-weight-600 {
  font-weight: 600; }

.i-weight-700 {
  font-weight: 700; }

.is-blue {
  background-color: #8cbeb2; }

.is-red {
  background-color: #f06060; }

.is-yellow {
  background-color: #f3b562; }

.is-brown {
  color: #5c4b51; }

.is-white {
  color: #fff; }

.i-bold {
  font-family: "Bitter", serif;
  font-weight: 600; }

.i-ital {
  font-style: italic; }

.is-active {
  color: #f06060; }

.i-text-upper {
  text-transform: uppercase; }

.i-text-center {
  text-align: center; }

.i-text-left {
  text-align: left; }

.i-text-right {
  text-align: right; }

.i-mb-55 {
  margin-bottom: 55px; }

.i-pt-20 {
  padding-top: 20px; }

.i-top-bottom-50 {
  padding: 50px 0; }

.bg-white {
  background-color: #fff; }

.bg-grey {
  background-color: #f5f4f4; }

.insta {
  padding: 50px 0;
  border-bottom: 2px solid #fff; }
  @media only screen and (max-width: 768px) {
    .insta {
      padding: 50px 24px; } }
  .insta__top {
    text-align: center; }
  .insta__descr {
    color: #ada2a4; }

.cart,
.currency {
  font-family: raleway, sans-serif;
  font-weight: 400;
  color: #5c4b51;
  cursor: pointer;
  position: relative;
  top: 55px;
  transition: all 0.3s ease-in-out; }
  .cart:hover,
  .currency:hover {
    color: #f06060; }

.cart {
  right: -50px; }
  .cart i {
    font-size: 25px; }

.section-title {
  position: relative;
  text-align: center;
  padding-bottom: 22px; }

.container {
  width: 1070px;
  padding: 0 30px;
  margin: 0 auto;
  *zoom: 1; }
  .container:after {
    content: " ";
    display: table;
    clear: both; }
  @media only screen and (max-width: 1070px) {
    .container {
      width: 980px; } }
  @media only screen and (max-width: 768px) {
    .container {
      width: 100%; } }

.row {
  *zoom: 1; }
  .row:after {
    content: " ";
    display: table;
    clear: both; }

.l-col-25 {
  width: 25%;
  float: left; }

.l-col-20 {
  width: 20%;
  float: left; }

.l-col-50 {
  width: 50%;
  float: left; }

@media only screen and (max-width: 768px) {
  .xs-col-100 {
    width: 100% !important; } }

.l-col-60 {
  width: 60%;
  float: left; }

.header {
  width: 100%;
  text-align: center;
  padding: 0 30px;
  position: relative;
  *zoom: 1; }
  .header:after {
    content: " ";
    display: table;
    clear: both; }
  .header__top {
    padding: 10px 0; }
  .header__left {
    float: left; }
  .header__center {
    float: left; }
  .header__right {
    float: left; }

.footer {
  *zoom: 1; }
  .footer:after {
    content: " ";
    display: table;
    clear: both; }
  .footer__top {
    padding: 35px 0; }
  .footer__col {
    float: left; }

.badge {
  display: block;
  width: 120px;
  height: 120px;
  text-align: center;
  border-radius: 50%;
  word-wrap: normal; }
  .badge span {
    display: block; }
  .badge__price {
    font-family: raleway, sans-serif;
    font-weight: 200;
    padding-top: 39px;
    font-size: 32px;
    line-height: 34px; }
  .badge__text {
    font-size: 16px; }
  .badge__carry {
    font-size: 19px;
    position: relative;
    top: 38%;
    padding: 0 15px;
    line-height: 1; }
  .badge.is-light-yellow {
    color: #fffad5; }
  .badge.is-big {
    width: 140px;
    height: 140px;
    line-height: 2; }
  .badge.is-small {
    width: 60px;
    height: 60px;
    line-height: 60px; }
    .badge.is-small span {
      font-size: 14px; }
  .badge.is-left-20 {
    position: absolute;
    left: 20%;
    top: 50%; }
  .badge.is-left-185 {
    position: absolute;
    left: 185px;
    top: 50%; }
  .badge.is-right-20 {
    position: absolute;
    right: 20px;
    top: 20px; }
  .badge.is-center {
    position: absolute;
    left: 45%;
    top: 33%; }

.social {
  width: 200px; }
  .social__list {
    padding-top: 25px; }
  .social__el {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out; }
    .social__el:hover {
      background-color: #5c4b51; }
  .social__link {
    line-height: 50px;
    vertical-align: middle; }
    .social__link:hover {
      color: #fff; }

.nav {
  height: 90px;
  line-height: 90px;
  position: relative;
  text-align: center;
  background-color: #fff;
  z-index: 5; }
  @media only screen and (max-width: 768px) {
    .nav {
      display: none; } }
  .nav__el {
    display: inline-block; }
    .nav__el:hover .nav__dropdown {
      display: block; }
  .nav__link {
    display: inline-block;
    padding: 0 22px;
    font-family: raleway, sans-serif;
    font-weight: 200;
    transition: all 0.3s ease-in-out; }
    .nav__link:hover {
      color: #f06060; }
      .nav__link:hover .plus:after,
      .nav__link:hover .plus:before {
        background-color: #f06060; }
      .nav__link:hover .plus:before {
        height: 0; }
  .nav__dropdown {
    position: absolute;
    display: none;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    width: 1000px;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 10px 30px 0 rgba(92, 75, 81, 0.1);
    z-index: 10; }

.plus {
  display: inline-block;
  width: 8px;
  height: 8px;
  position: relative; }
  .plus:after, .plus:before {
    content: "";
    position: absolute;
    background-color: #5c4b51; }
  .plus:after {
    bottom: 3px;
    right: 0;
    width: 8px;
    height: 2px; }
  .plus:before {
    bottom: 0;
    right: 3px;
    width: 2px;
    height: 8px;
    transition: all 0.3s ease; }

.payments {
  width: 200px;
  font-size: 38px;
  color: #5c4b51; }
  .payments__list {
    padding-top: 12px; }
  .payments__el {
    display: inline-block;
    margin-bottom: 10px; }

.title {
  font-family: raleway, sans-serif; }
  .title.is-bitter {
    font-family: "Bitter", serif; }
  .title.is-bitter-ital {
    font-family: "Bitter", serif;
    font-style: italic; }

.cart {
  position: relative; }
  .cart i {
    font-size: 25px; }
  .cart__counter {
    width: 15px;
    height: 15px;
    line-height: 15px;
    background-color: #f06060;
    text-align: center;
    border-radius: 100%;
    font-size: 11px;
    font-family: raleway, sans-serif;
    font-weight: 100;
    color: #fff; }
    .cart__counter.is-right-top {
      position: absolute;
      right: -14px;
      top: -5px; }

.copyright {
  padding: 60px 0; }
  .copyright__text {
    color: #ada2a4; }
  .copyright__link {
    display: inline-block;
    color: #f06060;
    font-family: raleway, sans-serif;
    font-weight: 600; }
    .copyright__link:hover {
      color: #5c4b51; }

.recipes {
  padding: 100px 0;
  background-color: #fff;
  *zoom: 1; }
  .recipes:after {
    content: " ";
    display: table;
    clear: both; }
  .recipes__top {
    position: relative;
    margin-bottom: 50px; }
  .recipes__left {
    float: left;
    width: 57%; }
  .recipes__right {
    float: right;
    width: 43%; }
  .recipes__sub {
    padding-top: 15px; }
  .recipes__link {
    transition: all 0.3s ease-in-out; }
    .recipes__link:hover {
      color: #f06060; }
  .recipes__info {
    text-align: center; }
  .recipes__date {
    color: #d1cacc;
    font-size: 16px; }
  .recipes__descr {
    line-height: 30px;
    padding-top: 20px; }
  .recipes__author {
    padding-top: 20px;
    color: #d1cacc; }
  .recipes__date, .recipes__author {
    font-family: "Bitter", serif;
    font-weight: 400; }

.subscribe {
  padding: 43px 33px;
  background-color: #f3b562;
  width: 100%;
  *zoom: 1; }
  .subscribe:after {
    content: " ";
    display: table;
    clear: both; }
  .subscribe__right {
    float: right;
    width: 70%; }
  .subscribe__left {
    float: left;
    width: 30%;
    position: relative; }
  .subscribe p {
    font-size: 16px;
    color: #5c4b51;
    padding-bottom: 10px; }

.popup {
  background-color: #f5f4f4;
  width: 640px;
  min-height: 100vh;
  position: absolute;
  top: 30px;
  right: 30px;
  display: none;
  z-index: 50; }
  .popup.is-visible {
    display: block; }
  .popup__top {
    padding: 20px;
    border-bottom: 2px solid #fff;
    *zoom: 1; }
    .popup__top:after {
      content: " ";
      display: table;
      clear: both; }
  .popup__left {
    float: left; }
  .popup__right {
    float: right; }
    .popup__right .btn {
      height: 0;
      line-height: 0;
      padding: 0; }
  .popup__bottom {
    padding: 100px 0; }
  .popup__text {
    font-size: 14px; }
  .popup h5 {
    display: inline-block; }

.currency {
  color: #5c4b51;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .currency {
      display: none; } }
  .currency__text {
    font-size: 16px; }
  .currency i {
    position: relative;
    top: -2px;
    font-size: 10px; }
  .currency__dropdown {
    position: absolute;
    top: 20px;
    left: 70px;
    max-width: 120px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(92, 75, 81, 0.1);
    display: none;
    z-index: 50; }
    .currency__dropdown.is-visible {
      display: block; }
  .currency__el {
    color: #ada2a4;
    padding: 5px 18px 7px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .currency__el:last-child {
      padding-bottom: 30px; }
    .currency__el:hover {
      color: #5c4b51; }

.logo__left, .logo__center, .logo__right {
  display: inline-block; }
@media only screen and (max-width: 768px) {
  .logo__center {
    display: block; } }
.logo__descr {
  font-family: "Bitter", serif;
  font-style: italic;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  transform: translate3d(0, -30px, 0); }
  @media only screen and (max-width: 1024px) {
    .logo__descr {
      display: none; } }
  @media only screen and (max-width: 768px) {
    .logo__descr {
      display: block;
      transform: translate3d(0, 0, 0); } }
.logo__link {
  line-height: 1px;
  margin: 0 5px; }
  @media only screen and (max-width: 768px) {
    .logo__link {
      display: none; } }

.list {
  padding-top: 12px;
  *zoom: 1; }
  .list:after {
    content: " ";
    display: table;
    clear: both; }
  .list__el {
    font-family: raleway, sans-serif;
    font-weight: 100; }
  .list__link {
    padding: 6px 0;
    line-height: 1.7;
    color: #ada2a4;
    transition: all 0.3s ease-in-out; }
    .list__link:hover {
      color: #5c4b51; }
  .list.is-horizontal .list__el {
    float: left; }
  .list.is-horizontal .list__link {
    display: block;
    width: 180px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat; }
    .list.is-horizontal .list__link:hover {
      opacity: 0.6; }
    .list.is-horizontal .list__link.bg-plum {
      background-image: url("../img/plum.jpg"); }
    .list.is-horizontal .list__link.bg-apple {
      background-image: url("../img/apple.jpg"); }
    .list.is-horizontal .list__link.bg-pie {
      background-image: url("../img/pie.jpg"); }
    .list.is-horizontal .list__link.bg-radish {
      background-image: url("../img/radish.jpg"); }
    .list.is-horizontal .list__link.bg-bow {
      background-image: url("../img/bow.jpg"); }
    .list.is-horizontal .list__link.bg-dill {
      background-image: url("../img/dill.jpg"); }
    .list.is-horizontal .list__link.bg-acorn {
      background-image: url("../img/acorn.jpg"); }
    .list.is-horizontal .list__link.bg-apple-red {
      background-image: url("../img/apple-red.jpg"); }

.input {
  width: 100%; }
  .input__mail {
    padding: 20px 150px 20px 20px;
    width: 100%;
    font-size: 16px;
    border-radius: 3px; }
    .input__mail:focus {
      outline: none; }
  .input__subscr {
    height: 58px;
    line-height: 58px;
    padding-right: 30px;
    background-color: #fff;
    color: #5c4b51;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out; }
    .input__subscr:hover {
      color: #f06060; }
  .input.is-small {
    width: 100%;
    border-bottom: 1px solid #5c4b51;
    font-size: 16px;
    color: #5c4b51;
    padding: 3px 0 12px 0;
    background-color: transparent;
    transition: all 0.3s ease-in-out; }
  .input.is-search {
    position: relative;
    transition: all 0.3s ease-in-out; }
  .input.is-number {
    background-color: transparent;
    text-align: center; }

.bg-title {
  font-family: Alex Brush, sans-serif;
  font-size: 125px;
  opacity: 0.2;
  line-height: 1.2;
  color: #f3b562; }
  .bg-title.is-small {
    font-size: 81px; }
  .bg-title.is-grey {
    color: #ada2a4; }
  .bg-title.is-white {
    color: #fff; }
  .bg-title.is-top-left {
    position: absolute;
    top: -86px;
    left: 330px; }
  .bg-title.is-x-10 {
    top: -10px; }
  .bg-title.is-y-0 {
    position: absolute;
    left: 0; }
  .bg-title.is-y-46 {
    position: absolute;
    left: 46%; }
  .bg-title.is-x-30 {
    top: -30px; }
  .bg-title.is-y-37 {
    position: absolute;
    left: 37%; }
  .bg-title.is-x-85 {
    top: -85px; }

.product {
  width: 356px;
  position: relative; }
  .product__top {
    padding-bottom: 20px; }
  .product__img {
    width: 100%;
    height: 300px;
    background-position: 50%;
    transition: opacity 0.3s ease-in-out;
    border-right: 3px solid #fff; }
    .product__img:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background-color: #f06060;
      opacity: 0;
      transition: opacity 0.3s ease-in-out; }
    .product__img:hover:before {
      opacity: 0.2; }
    .product__img.bg-basil {
      background-image: url("../img/basil.jpeg"); }
    .product__img.bg-tomatoes {
      background-image: url("../img/tomatoes.jpeg"); }
    .product__img.bg-raspber {
      background-image: url("../img/raspberries.jpeg"); }
    .product__img.bg-campari {
      background-image: url("../img/сampari-tomatoes.jpeg"); }
  .product__bottom {
    text-align: center;
    padding-bottom: 40px; }
  .product__name {
    font-size: 18px;
    font-family: "Bitter", serif;
    font-weight: 600; }
    .product__name:hover {
      color: #f06060; }
  .product__spec {
    display: block;
    color: #d1cacc; }
    .product__spec a {
      display: inline-block; }

.swiper-container {
  max-width: 640px;
  min-height: 310px; }
  .swiper-container.is-product {
    max-width: none; }
  .swiper-container.is-general {
    max-width: none; }

.swiper-button-next,
.swiper-button-prev {
  background-image: none;
  position: absolute;
  top: 275px; }

.swiper-container-horizontal > .swiper-pagination {
  top: 50%;
  transform: rotate(90deg) translateY(-200%) translateX(-9%) !important; }
  @media only screen and (max-width: 768px) {
    .swiper-container-horizontal > .swiper-pagination {
      top: 80% !important;
      transform: rotate(360deg) !important; } }

.swiper-pagination-bullet {
  width: 70px;
  height: 70px;
  border: 4px solid #fff;
  border-radius: 50px;
  background-color: transparent; }
  .swiper-pagination-bullet:first-child {
    background-image: url(https://cdn.shopify.com/s/files/1/1148/3974/t/7/assets/img_thumb_homepage_slide_1.jpg?2525999231350056249); }
  .swiper-pagination-bullet:nth-child(2) {
    background-image: url(https://cdn.shopify.com/s/files/1/1148/3974/t/7/assets/img_thumb_homepage_slide_2.jpg?2525999231350056249); }
  .swiper-pagination-bullet:last-child {
    background-image: url(https://cdn.shopify.com/s/files/1/1148/3974/t/7/assets/img_thumb_homepage_slide_3.jpg?2525999231350056249); }
  .swiper-pagination-bullet:hover {
    transform: scale(1.34); }

.arrow-button-next,
.arrow-button-prev {
  position: absolute;
  width: 60px;
  height: 40px;
  cursor: pointer;
  z-index: 100; }
  .arrow-button-next .line,
  .arrow-button-prev .line {
    position: absolute;
    top: 18px;
    right: 0;
    display: block;
    width: 40px;
    height: 2px;
    background-color: #5c4b51; }
    .arrow-button-next .line.is-right-18,
    .arrow-button-prev .line.is-right-18 {
      right: 18px; }
  .arrow-button-next .triangle,
  .arrow-button-prev .triangle {
    position: absolute;
    top: 12px;
    left: 3px;
    border-width: 0 8px 12px 8px;
    border-style: solid;
    border-color: transparent transparent #5c4b51 transparent;
    transform: rotate(-90deg); }
    .arrow-button-next .triangle.is-left-44,
    .arrow-button-prev .triangle.is-left-44 {
      left: 44px;
      transform: rotate(90deg); }

.arrow-button-prev {
  left: 40%;
  bottom: 0; }

.arrow-button-next {
  right: 50%;
  bottom: 0; }

.season-item {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 555px; }
  .season-item__descr {
    font-size: 26px; }
  .season-item__info {
    position: absolute;
    top: 150px; }
    .season-item__info.is-left {
      left: 40%; }
    .season-item__info.is-right {
      right: 40%; }
  .season-item.bg-tomato, .season-item.bg-apple, .season-item.bg-pepper {
    background-size: cover;
    background-repeat: no-repeat; }
  .season-item.bg-tomato {
    background-image: url("../img/slide_1.jpg");
    background-position: 50% 80%; }
  .season-item.bg-pepper {
    background-image: url("../img/slide_2.jpg");
    background-position: 50% 80%; }
  .season-item.bg-apple {
    background-image: url("../img/slide_3.jpg");
    background-position: 50% 70%; }
  .season-item .badge {
    position: absolute;
    top: 26%;
    left: 33%; }
    .season-item .badge.is-center {
      top: 33%;
      left: 45%; }

.offer {
  *zoom: 1; }
  .offer:after {
    content: " ";
    display: table;
    clear: both; }
  .offer .section-title {
    margin-top: 80px; }
  .offer__product {
    font-size: 18px;
    font-family: "Bitter", serif;
    font-weight: 600; }
    .offer__product:hover {
      color: #f06060; }
  .offer__spec {
    display: block;
    color: #d1cacc;
    font-size: 14px;
    font-family: "Bitter", serif;
    font-weight: 400; }
    .offer__spec a {
      display: inline-block; }
  .offer__price {
    color: #f06060;
    font-size: 32px; }
  .offer__unit {
    font-family: "Bitter", serif;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 20px; }
  .offer__action {
    padding: 20px 0; }
  .offer .bg-cover {
    padding: 50px;
    background-image: url("../img/bg-tablecloth.png");
    background-repeat: repeat; }
  .offer .bg-plums {
    display: block;
    width: 100%;
    height: 340px;
    background: url("../img/plums.png") no-repeat center 50%;
    background-size: contain; }

.btn {
  display: inline-block;
  color: #5c4b51;
  background-color: transparent;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 40px;
  height: 58px;
  line-height: 58px;
  cursor: pointer;
  font-family: raleway, sans-serif;
  letter-spacing: 1.6px;
  font-weight: 700;
  transition: all 0.3s ease-in-out; }
  .btn:hover {
    color: #f06060; }
  .btn__input {
    padding: 0;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase; }
    .btn__input:hover {
      color: #fff; }
  .btn.is-big {
    height: 61px;
    line-height: 61px;
    max-width: 280px;
    padding: 0 87px;
    font-weight: 600;
    background-color: #f06060;
    border-right: 3px;
    letter-spacing: 1px;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 10; }
    .btn.is-big:hover {
      color: #fff; }
    .btn.is-big:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120%;
      height: 550%;
      display: block;
      transform: translate3d(-50%, -50%, 0) scale(0);
      transform-origin: 50% 50%;
      border-radius: 50%;
      background-color: #5c4b51;
      opacity: 0;
      z-index: -10;
      transition: all 0.3s ease-in-out; }
    .btn.is-big:hover:before {
      transform: translate3d(-50%, -50%, 0) scale(1);
      opacity: 1; }
  .btn.is-small {
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    font-size: 20px; }
  .btn.is-red {
    color: #f06060;
    background-color: transparent; }
    .btn.is-red:hover {
      color: #5c4b51; }

.item {
  width: 200px;
  margin-right: 25px; }
  .item__name {
    text-transform: uppercase;
    line-height: 1.4; }
  .item__descr {
    font-size: 14px;
    color: #ada2a4; }
  .item__img {
    color: #5c4b51;
    display: inline-block;
    width: 100px;
    height: 77px;
    background-size: cover;
    background-repeat: no-repeat; }
    .item__img.bg-apple {
      background-image: url("../img/ico-apple.png"); }
    .item__img.bg-snowflake {
      background-image: url("../img/snowflake.png"); }
    .item__img.bg-dried {
      background-image: url("../img/dried.png"); }
    .item__img.bg-bottle {
      background-image: url("../img/bottle.png"); }

.hamburger {
  display: none; }
  @media only screen and (max-width: 768px) {
    .hamburger {
      display: block;
      position: relative;
      top: 10px;
      left: 10px;
      cursor: pointer; } }

#nav-icon {
  width: 35px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #5c4b51;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0;
  transform-origin: left center; }
#nav-icon span:nth-child(2) {
  top: 10px;
  transform-origin: left center; }
#nav-icon span:nth-child(3) {
  top: 20px;
  transform-origin: left center; }
#nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -3px;
  left: 8px; }
#nav-icon.open span:nth-child(2) {
  width: 0;
  opacity: 0; }
#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 22px;
  left: 8px; }

.mobile-menu {
  width: 320px;
  height: 100%;
  padding: 15px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
  transition: all 0.3s ease-in-out; }
  .mobile-menu.is-visible {
    display: block; }
  .mobile-menu__el {
    width: 100%;
    padding: 15px 38px 14px 38px;
    color: #5c4b51; }
    .mobile-menu__el:hover {
      background-color: #f5f4f4; }
  .mobile-menu img {
    margin: 0 auto; }
  .mobile-menu .btn {
    position: absolute;
    top: 0;
    right: 10px; }
  @media only screen and (max-width: 768px) {
    .mobile-menu .logo__link {
      display: block; } }

.form {
  position: relative; }
  .form__action {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }
  .form.is-search {
    width: 0;
    position: absolute;
    top: 55px;
    left: 30px;
    transition: all 0.3s ease; }
    @media only screen and (max-width: 768px) {
      .form.is-search {
        display: none; } }
    .form.is-search.is-open {
      width: 300px; }
      .form.is-search.is-open .btn {
        right: 0; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5c4b51;
  z-index: 5;
  transition: opacity 450ms ease-in-out, visibility 450ms ease-in-out;
  display: none; }
  .overlay.is-visible {
    opacity: 0.6;
    display: block; }

.quantity {
  position: relative;
  display: inline-block;
  right: 60px;
  margin: 0 20px;
  width: 80px;
  height: 40px;
  line-height: 40px;
  background-color: #f5f4f4; }
  .quantity:after {
    position: absolute;
    content: "";
    right: -16px;
    top: 11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    border-color: transparent transparent transparent #ada2a4; }
  .quantity:before {
    position: absolute;
    content: "";
    left: -16px;
    top: 11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #ada2a4 transparent transparent; }

.product-big {
  position: relative;
  width: 100%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 540px;
  text-align: center;
  border: 3px solid #fff;
  border-left: none; }
  .product-big:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f06060;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; }
  .product-big:hover:before {
    opacity: 0.2; }
  .product-big.bg-fruits {
    background-image: url("../img/fruits.jpg"); }
  .product-big.bg-rasper {
    background-image: url("../img/raspber.jpg"); }

.sale {
  width: 100%;
  position: relative;
  cursor: pointer;
  box-sizing: border-box; }
  .sale__title {
    padding-top: 30px; }
  .sale__descr {
    font-family: "Bitter", serif;
    font-weight: 600;
    font-size: 23px; }
  .sale__info {
    position: relative; }
  .sale__offer {
    position: absolute;
    top: 55%;
    right: 16px;
    font-size: 19px;
    font-family: "Bitter", serif;
    font-weight: 600; }
    .sale__offer:after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: 0;
      height: 3px;
      width: 400px;
      background-color: #f3b562; }
    .sale__offer.is-text-blue {
      color: #8cbeb2; }
      .sale__offer.is-text-blue:after {
        background-color: #8cbeb2; }

.slide {
  background-color: #fff;
  width: 100%;
  height: 100%;
  *zoom: 1; }
  .slide:after {
    content: " ";
    display: table;
    clear: both; }
  .slide__left, .slide__center, .slide__right {
    float: left; }
  .slide__left {
    width: 15%; }
  .slide__center {
    width: 33%;
    float: left;
    height: 300px; }
  .slide__right {
    width: 49%;
    float: left; }
  .slide__index {
    font-size: 32px;
    font-family: "bitter400", Arial, sans-serif; }
  .slide__descr {
    line-height: 30px; }
  .slide__img {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: initial;
    background-repeat: no-repeat; }
    .slide__img.bg-seeds {
      background-image: url("../img/seeds.png");
      background-position: 74% 56%; }
    .slide__img.bg-plant {
      background-image: url("../img/plant.png");
      background-position: 74% 56%; }
    .slide__img.bg-harvest {
      background-image: url("../img/harvest.png");
      background-position: 74% 56%; }
  .slide__holder {
    font-size: 18px;
    letter-spacing: 37px;
    text-transform: uppercase;
    opacity: 0.2; }
    .slide__holder.is-y-26 {
      position: absolute;
      left: 26%; }
    .slide__holder.is-x-27 {
      top: 27%; }
    .slide__holder.is-y-8 {
      position: absolute;
      left: 8%; }

/*# sourceMappingURL=app.css.map */
